body {
	background-color: #dbebff;
	margin: 20px auto;
	text-align: center;
	font-family: sans-serif;
	width: 700px;
}

/*Header*/
h1 {
	color: black;
	margin-top: 20px;
}

h5 {
	font-weight: bold;
	margin-bottom: 20px;
}

#greeting {
	padding-top: 30px;
}

/**/
#game-area {
	margin: 20px auto;
	width: 700px;
}

/*Cards*/
#all-cards {
	background-color: grey;
	margin: 20px auto;
	width: 600px;
	height: 160px;
}

.cards {
	background-color: #2ECC71;
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 120px;
	font-size: 60px;
	line-height: 120px;
	padding: 5px;
	color: black;
	font-family: baskerville;

}

input {
	font-size: 26px;
	padding: 5px;
	margin-bottom: 20px;
	text-align: center;
}

#player-input {
		font-size: 20px;
		width: 400px;
}

#score-output {
	font-size: 20px;
}

.hide {
	display: none;
}

.style-change {
	margin-bottom: 0;
	font-size: 25px;
	color: blue;
}