body {
	background-color: #dbebff;
	margin: 20px auto;
	text-align: center;
	font-family: sans-serif;
	width: 700px;
}

/*Header*/
h1 {
	color: black;
	margin-top: 20px;
	font-weight: bold;
}

h5 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 8px;
	margin-top: 10px;
}


#greeting {
	padding-top: 20px;
}

/**/
#game-area {
	margin: 20px auto;
}

/*Cards*/
#all-cards {
	background-color: grey;
	margin: 20px auto;
	width: 700px;
	height: 200px;
	padding: 20px 0 10px 3px;
}

.cards {
	background-color: #2ECC71;
	display: inline-block;
	text-align: center;
	width: 80px;
	height: 120px;
	font-size: 60px;
	line-height: 120px;
	padding: 5px;
	color: black;
	font-family: baskerville;
}

input {
	padding: 5px;
	text-align: center;
}

#player-input {
	font-size: 20px;
	width: 400px;
	margin-bottom: 35px;
}

#score-output {
	font-size: 20px;
}

.hide {
	display: none;
}

/* style change for player's name after input */
.style-change {
	margin-bottom: 0;
	font-size: 25px;
	color: #00008b;
}

.game-over {
	visibility: hidden;
}

#game-level {
	text-align: center;
	padding-bottom: 15px;
}

.level-btn {
	background-color: pink;
	margin-right: 5px;
	padding: 3px 10px;
	font-size: 14px;
}

#message {
	font-size: 18px;
	font-style: italic;
	padding-top: 0;
}

.warning {
	color: red;
	font-weight: bold;
}

#seven-btn, #reset-btn {
	font-size: 14px;
	padding: 3px 10px;
}

#audio-btn {

}

#score-output {
	margin-bottom: 15px;
}

#play-input {
	font-size: 26px;
	position-relative;
	margin-bottom: 10px;
}

#try {
	margin-left: 100px;
}